$bgColorHeader : antiquewhite;
$bgColorMain : cornflowerblue;
$bgColorFooter : blueviolet;
$bgColorContact : darkmagenta;
$bgColorProject : cornflowerblue;
$bgColorSkills : darkcyan;
$bgColorSkill: antiquewhite;


$bgIconColorSkill : darkgrey;


$bgFontColorSkill : darkgrey;




//@import "src/common/styles/variables";