


.skillsBlock {
    /*min-height: 100vh;*/
    background: darkcyan;
}

/*.skillsContainer {*/
/*    display: flex;*/
/*    justify-content: flex-start;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*}*/

.title {
    background: cornflowerblue;
    margin: 30px;
}

.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 0;

}

@media   (max-width: 750px) {
    .skills {
        justify-content: center;
    }
}