@import "src/common/styles/variables";

.contactBlock {
  background: var(--theme--bgColorContact);
}

.contactWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 450px;
  background: #26292D;
  padding: 24px;
  border-radius: 8px;

  @media (max-width: 800px) {
    width: auto;
  }

  & input, textarea {
    margin: 24px 0;
    min-width: 160px;
    min-height: 30px;
    padding: 20px;
    background: #1F1F21;
    border: 1px solid #A0A0A1;
    box-sizing: border-box;
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.4399999976158142px;
    text-align: left;

  }

  & textarea {
    height: 150px;
    resize: none;
  }

  & button {
    width: 100%;

    margin: 10px 0 30px 0;
    min-height: 30px;
    align-self: center;
    background: #F9B53A;
    border-radius: 8px;

    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0;
    text-align: center;
color: #fff;


    //@media (max-width: 800px) {
    //  width: 80px;
    //}
  }

}

//.contactWrapper > input, textarea {
//  margin: 10px 0;
//  min-width: 160px;
//  min-height: 30px;
//}

//.contactWrapper > textarea {
//  /*width: 60%;*/
//  height: 150px;
//  resize: none;
//}

//.contactWrapper button {
//  width: 250px;
//  margin: 10px 0 30px 0;
//  min-height: 30px;
//  align-self: center;
//
//  @media (max-width: 800px) {
//    width: 80px;
//  }
//}
