@import "src/common/styles/variables";

.contactBlock {
  background: var(--theme--bgColorContact);
}

.contactWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;

  @media (max-width: 800px) {
    width: auto;
  }

  & input, textarea {
    margin: 10px 0;
    min-width: 160px;
    min-height: 30px;
  }

  & textarea {
    /*width: 60%;*/
    height: 150px;
    resize: none;
  }

  & button {
    width: 250px;
    margin: 10px 0 30px 0;
    min-height: 30px;
    align-self: center;

    @media (max-width: 800px) {
      width: 80px;
    }
  }

}

//.contactWrapper > input, textarea {
//  margin: 10px 0;
//  min-width: 160px;
//  min-height: 30px;
//}

//.contactWrapper > textarea {
//  /*width: 60%;*/
//  height: 150px;
//  resize: none;
//}

//.contactWrapper button {
//  width: 250px;
//  margin: 10px 0 30px 0;
//  min-height: 30px;
//  align-self: center;
//
//  @media (max-width: 800px) {
//    width: 80px;
//  }
//}
