.header {
    height: 80px;
    background: var(--theme--bgColorHeader);
    & button {
        background: rgba(249, 181, 58, 1);
        border-radius: 8px;
    }
}

.headerNav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

