.light {
  --theme-color: #A80000;
  --theme-page-background: #FFF;
  --theme-page-text: #111;
  --theme--bgColorHeader : red ;
  --theme--bgColorMain : cornflowerblue;
  --theme--bgColorSkills : darkcyan;
  --theme--bgColorSkill: #3D3D3D;
  --theme--bgColorFooter : #b6a1c5;
  --theme--bgColorContact : #7a617a;
  --theme--bgColorProject : cornflowerblue;

  --theme--FontColorNav : #0d1b33;
}

.dark {
  --theme-color: #0000A8;
  --theme-page-background: #1C1E22;
  --theme-page-text: #FFF;
  --theme--bgColorHeader : #1C1E22;
  --theme--bgColorMain : #1C1E22;
  --theme--bgColorSkills : #1C1E22;
  --theme--bgColorSkill: #1F1F21;
  --theme--bgColorContact : #1C1E22;
  --theme--bgColorProject : #1C1E22;
  --theme--bgColorFooter : #1C1E22;

  --theme--FontColorNav :  rgba(255, 255, 255, 1);
  --theme--FontColorNavActive : rgb(101, 101, 101);
  --theme--FontColorNavHover : rgb(163, 166, 171);
;
}