.projectsBlock {
 background: cornflowerblue;

}

.projectWrapper {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 align-items: center;
 margin-bottom: 30px;
}

@media   (max-width: 1030px) {
 .projectWrapper {
  justify-content: center;
 }
}